html, body {
  padding: 20px;
  
}

button {
  padding: 20px;
  background: rgb(134, 238, 233); 
  /*background: rgb(153, 223, 221); 
   background: rgb(102, 202, 201);  */
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  /* color: #DDD; */
}

#display {
  width: 300px;
  padding: 5px;
  background: #DDD; 
  margin-bottom: 10px;
  height: 80px;
  text-align: right;
  font-size: 50px;
}

.total {
  background: rgb(9, 74, 112); 
  color: #DDD;
}
.calCientifica {
  font-size: 15px;
  padding: 9px;
}